html, body {
    height: 100%;
    margin: 0;
    background-image: url('./images/yarnAndKittens.jpg'); /* Replace 'your-background-image.jpg' with the path to your image file */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    background-color: #006cca;
}

.center-text {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}
